html {
  scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0;
}
ul{
  list-style:none;
}
/*https://www.fontsquirrel.com/*/
@font-face {
    font-family: allejo;
    src: url(../fonts/allejo.otf);
  }
  @font-face {
    font-family: pilsenplakat;
    src: url(../fonts/pilsenplakat.ttf);
  }
  @font-face {
    font-family: TiroDevanagariHindi-Regular;
    src: url(../fonts/TiroDevanagariHindi-Regular.ttf);
  }
  
  body {
    font-family: Tahoma, sans-serif;
    background-color:black;
  }
  .acquires{
    font-family: allejo, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 4px 0px 0px 0px;
  }
  .acquires h3{
    font-family: TiroDevanagariHindi-Regular, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 15px;
  }
    a:link    { color: blue; }
    a:visited { color: #ff00ff; }
    a:hover   { color: #ffa500; }
    a:active  { color: #ad0035 ;}
  article, h1, h2{
    margin-bottom:28px;
  }
  h1, h3{
    font-family: pilsenplakat, Tahoma, sans-serif;
  }
  h2{
    text-align:center;
    line-height: 18px;
  }
  h1{
    letter-spacing: 13px;
    text-align: center;
    font-size: 37px;
    line-height: 46px;
  }
  .wrapper{
    max-width:756px;
    margin:auto;
    background-color:white;
  }
  .wrapper-inner{
    padding: 80px 160px 51px 160px;
    margin:auto;
  }


  .contacts{
    border: 1px solid #ff00ff;
    box-shadow: 1px 1px 1px #000000b3;
  }
  .contacts .original{
    font-size: 11px;
    vertical-align: top;
  }
  .contacts .bg-yellow{
    background-color:#ff0;
  }
  .contacts ul{
    border: 1px solid #800080;
    position:relative;
    padding: 15px 15px 25px 15px;
    z-index:5;
  }
  .contacts ul:before {
    background: none;
    border: 1px solid #ffa500;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
  }
  .contacts ul:after {
    background: none;
    border: 1px solid #daa520;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
  }
  .contacts ul li:not(:last-child){
    margin-bottom: 5px;
  }
  .contacts li:before  {
    content: "▶";
    font-size: 17px;
    padding-right: 5px;
    vertical-align: 1%;
}
  .acquires{
    display:flex;
    flex-direction:column;
    background-color: #d4d4d4;
    background-image: linear-gradient(90deg, #d4d4d4 0%, #ffffff 100%);

  }
  .acquires div {
    padding:18px 18px 0px 18px;
  }
  
  .acquires .btn{
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    background-color:#ed0149;
    color:white;
    text-decoration:none;
    padding:17px;
    margin-top:15px;
    text-align:center;
    transition:0.3s;
  }
  .acquires .btn:hover{
    color:#ff0;
  }
  .video a{
    display: block;
  }
  .video a img{
    display: block;
    width:100%;
    max-width:436px;
    height:auto;
    margin:auto;
  }
  .social{
    display:flex;
    justify-content: center;
    gap: 18px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition:0.2s;
  }
  .social img:hover{
    background-color:#ed0149;
    border-radius:50%;

    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  /*Back to top btn begin*/
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #ed0149; 
    color: #ffffff; 
    border:1px solid #ffffff;
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
    transition:0.2s;
  }
  #myBtn:hover {
    background-color: #000000; /* Add a dark-grey background on hover */
    border:1px solid #ed0149;
  }
  /*back to top btn end*/
  @media(max-width:768px){
    .wrapper-inner {
      padding: 28px;
  }
  }
  /*Fade in*/
  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  /*Fade in END*/
